/*Style settings of Header elements*/
.Header
{
	position: relative;
	left: 0px;
	top: 0px;
}

.heading
{
	padding: 100px;
	position: relative;
	left: 0px;
	top: 0px;
}

/*#Box_TeamPhoto*/
.TeamImage
{
	position: relative;
	left: 1600px;
	top: -50px;

	width: 320px;
	height: 240px;
	background: url(https://goo.gl/X5uMcb) no-repeat scroll 0 0;
}

h1
{
	position: absolute;
	left: 930px;
	top: -15px;
	font-size:60px;
	font-weight: bold;
	text-align: center;
}

h2
{
	position: absolute;
	left: 985px;
	top: 80px;
	font-size:40px;
	font-weight: bold;
	text-align: center;
}

.TumoLogo
{
	position: relative;
	left: 450px;
	top: -350px;
}


/*Style settings of main elements*/
.main{
	/*border: 10px red solid;*/
	width: 2400px;
	height: 1430px;

	margin: auto;
	zoom: 0.65;
}

.DateSelector
{
	position: relative;
	left: 1700px;
	top: -250px;
	font-size:25px;
	color: #669999;

	width: 400px;
	height: 100px;
}

.datebox
{
	font-size: 20px;
	min-width: 300px;
	min-height: 40px;
	max-width: 300px;
	max-height: 40px;
	border-radius: 10px
}

.Lines
{
	position: relative;
	left: 0px;
	top: -220px;
	stroke: #669999;
	stroke-width: 2

	width: 1000px;
	height: 700px;
}

.Line1
{
	position: relative;
	left: 839px;
	top: 100px;
}

.Line2
{
	position: relative;
	left: 1238px;
	top: -110px;
}

.Line3
{
	position: relative;
	left: 1500px;
	top: -500px;
}

.Line4
{
	position: relative;
	left: 1570px;
	top: -500px;
}

.Line5
{
	position: relative;
	left: 1600px;
	top: -350px;
}

.Line6
{
	position: relative;
	left: 1268px;
	top: -420px;
}

.Line7
{
	position: relative;
	left: 750px;
	top: -700px;
}

.TextBoxes
{
	margin-bottom: 20px;
	margin-top: 20px;
/*	border: 8px solid red; */
	display: inline-block;
	font-size:20px;
	font-weight: bold;
	/*width: 430px;*/
	/*height: 270px;*/
	text-align: center;

	position: relative;
	left: 0px;
	top: -1100px;
}

.box
{
	padding: 15px;
	font-size: 17px;
	min-width: 400px;
	min-height: 200px;
	max-width: 400px;
	max-height: 200px;
	border-radius: 10px
}

.Horiz_Section_Global
{
	position: relative;
	left: 200px;
	top: 0px;
}

/* Coordinates of Vertical Section, which includes */
/* Description and Team Members. */
.Vert_Section
{
	position: relative;
	left: 835px;
	top: 0px;
}

.Description
{
	position: absolute;
	left: 0px;
	top: 0px;
	color: #b30000;
}

.TeamMembers
{
	position: absolute;
	left: 0px;
	top: 840px;
	color: #0052cc;
}

/* Coordinates of Horizontal Section 1, which includes */
/* Use Cases and Communication. */
.Horiz_Section_1
{
	position: relative;
	left: 100px;
	top: 150px;
}

.UseCases
{
	position: absolute;
	left: 100px;
	top: 0px;
	color: #00b33c;
}

.Communication
{
	position: absolute;
	left: 1368px;
	top: 0px;
	color: #e68a00;
}

/* Coordinates of Horizontal Section 2, which includes */
/* Sensors and Difficulties. */
.Horiz_Section_2
{
	position: relative;
	left: 100px;
	top: 650px;
}

.Sensors
{
	position: absolute;
	left: 0px;
	top: 0px;
	color: #990073;
}

.Difficulties
{
	position: absolute;
	left: 1470px;
	top: 0px;
	color: #808000;
}

.RobotImage
{
	position: relative;
	left: 932px;
	top: -810px;

	width: 640px;
	height: 480px;
	background: url(https://goo.gl/X5uMcb) no-repeat scroll 0 0;
}

::placeholder
{
	color: grey;
}
