/*Style settings of Header elements*/
.Header
{
	position: relative;
	left: 0px;
	top: 0px;

	width: 1680px;
	height: 300px;
}

.headingText
{
	padding: 10px;
	position: relative;
	left: 0px;
	top: 0px;

	width: 1680px;
	height: 168px;
}

/*#Box_TeamPhoto*/
.TeamImage
{
	position: relative;
	left: 1163px;
	top: -150px;

	width: 224px;
	height: 168px;
	background: url(https://goo.gl/X5uMcb) no-repeat scroll 0 0;
}

h1
{
	position: absolute;
	left: 651px;
	top: -0px;
	font-size:42px;
	font-weight: bold;
	text-align: center;
}

h2
{
	position: absolute;
	left: 689px;
	top: 66px;
	font-size:28px;
	font-weight: bold;
	text-align: center;
}

.TumoLogo
{
	position: relative;
	left: 293px;
	top: -300px;

	width: 270px;
	height: 104px;
}


/*Style settings of main elements*/
.main
{
	position: relative;
	left: -25px;
	top: -20px;

	width: 1680px;
	height: 1001px;

	margin: auto;
}

.DateSelector
{
	position: relative;
	left: 460px;
	top: -55px;
	font-size: 17px;
	color: #669999;
	margin: auto;

	width: 280px;
	height: 70px;
}

.datebox
{
	font-size: 14px;
	min-width: 210px;
	min-height: 28px;
	max-width: 210px;
	max-height: 28px;
	border-radius: 7px;
}

.Lines
{
	position: relative;
	left: -375px;
	top: 0px;
	stroke: #669999;
	stroke-width: 2;

	width: 700px;
	height: 490px;
}

.Line1
{
	position: relative;
	left: 982px;
	top: 50px;
}

.Line2
{
	position: relative;
	left: 1238px;
	top: -230px;
}

.Line3
{
	position: relative;
	left: 1430px;
	top: -620px;

	width: 100px;

}

.Line4
{
	position: relative;
	left: 1470px;
	top: -640px;
}

.Line5
{
	position: relative;
	left: 1486px;
	top: -600px;
}

.Line6
{
	position: relative;
	left: 1268px;
	top: -708px;
}

.Line7
{
	position: relative;
	left: 917px;
	top: -1000px;
}

.TextBoxes
{
	margin-bottom: 20px;
	margin-top: 20px;
/*	border: 8px solid red; */
	display: inline-block;
	font-size:14px;
	font-weight: bold;
	/*width: 430px;*/
	/*height: 270px;*/
	text-align: center;

	position: relative;
	left: 0px;
	top: -500px;
}

.box
{
	padding: 15px;
	font-size: 12px;
	min-width: 280px;
	min-height: 140px;
	max-width: 280px;
	max-height: 140px;
	border-radius: 7px;
}

.Horiz_Section_Global
{
	position: relative;
	left: 200px;
	top: 0px;
}

/* Coordinates of Vertical Section, which includes */
/* Description and Team Members. */
.Vert_Section
{
	position: relative;
	left: 520px;
	top: -220px;
}

.Description
{
	position: absolute;
	left: 0px;
	top: 0px;
	color: #b30000;
}

.TeamMembers
{
	position: absolute;
	left: 0px;
	top: 600px;
	color: #0052cc;
}

/* Coordinates of Horizontal Section 1, which includes */
/* Use Cases and Communication. */
.Horiz_Section_1
{
	position: relative;
	left: 81px;
	top: -50px;
}

.UseCases
{
	position: absolute;
	left: 0px;
	top: 0px;
	color: #00b33c;
}

.Communication
{
	position: absolute;
	left: 878px;
	top: 0px;
	color: #e68a00;
}

/* Coordinates of Horizontal Section 2, which includes */
/* Sensors and Difficulties. */
.Horiz_Section_2
{
	position: relative;
	left: -80px;
	top: 250px;
}

.Sensors
{
	position: absolute;
	left: 100px;
	top: 0px;
	color: #990073;
}

.Comments
{
	position: absolute;
	/* Box + Picture = 728 */
	left: 1100px;
	top: 16px;
	color: #808000;
}

.RobotImage
{
	position: relative;
	/*left: 650px;*/
	left: 35px;
	top: -515px;
	margin: auto;

	width: 448px;
	height: 336px;
	background: url(https://goo.gl/X5uMcb) no-repeat scroll 0 0;
}

.SaveButton
{
	position: relative;
	/*left: 650px;*/
	left: 1300px;
	top: -350px;
}

::placeholder
{
	color: grey;
}
